@import '../app';

.calendar__cell{
  font-family: 'Montserrat', sans-serif;
  height: 35px;
  width: 35px;

  border: 0 solid black;
  text-align: center;
  margin: 2px 0;
  background-color: white;
  font-size: 20px;

  &:hover {
    background-color: rgba(128, 128, 128, 0.15);
  }

  &.current {
    color: $main-color;
    border: 1px solid $main-color;
    padding: 0;
    border-radius: 50%;
  }

  &.selected{
    background: $main-back-liner-color;
    background-color: $main-color;
    color: white;
    border-radius: 50%;
  }

  &.disabled {
    color: rgba(110, 110, 110, 0.6);
  }

  &.haveTasks {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 15px;
      bottom: 2px;

      height: 2px;
      width: 2px;
      border: 1px solid $main-color;
      border-radius: 50%;
      background: $main-color;
    }
  }
}

.calendar__weekday-cell{
  text-align: center;
  font-size: 20px;
}