@import '../app';

.main {
    display: flex;
    margin: 100px auto;
    width: 800px;
}

.calendar {
    box-sizing: border-box;
    margin-top: 40px;
    padding: 20px 40px;
    width: 400px;
    height: 460px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 8px 5px;
    background-color: white;
}

.calendar__year {
    color: #6e6e6e;
    font-size: 20px;
    letter-spacing: 3px;

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 56px;
        background: #6e6e6e;
    }
}

.calendar__title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.calendar__month {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
}

.calendar__daysName {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 15px 0;
    text-align: center;
}

.calendar__daysName div {
    font-size: 18px;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar__button{
    background-color: white;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}
