@import '../App';

.loginForm {
  width: 400px;
  margin: 200px auto;
  border: 1px solid black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 10px 5px;
}

.inputBlock {
  width: 200px;
  margin: 20px auto;

  input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }
}

.buttons {
  width: 200px;
  margin: 0 auto 20px;

  button {
    display: block;
    margin: 10px auto;
    height: 30px;
    width: 120px;
    background-color: $main-color;
    border: none;
    cursor: pointer;
  }
}