.items{

}

.todoList{
    margin: 0 auto;
    width: 300px;
}

.input {
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: transparent;
}

.input input{
    background-color: transparent;
    border: none;
    font-size: 20px;
    width: 100%;
    color: white;
}