@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

//$main-color: rgba(255, 38, 38, 0.8);

//$main-back-liner-color: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(240,70,105,1) 100%);
//$main-back-radial-color: linear-gradient(180deg, rgba(63,94,255,1) 20%, rgba(240,70,105,1) 100%);
//$main-color: rgb(52, 126, 220);


$main-back-liner-color: transparent;
$main-back-radial-color: transparent;
$main-color: rgb(52, 126, 220);

$grey-color: rgba(128, 128, 128, 0.25);

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $grey-color;
}