.calendar{
    margin: 200px auto;
    width: 400px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
}

.calendar__days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
}

.calendar__days-name{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.calendar__month{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}

.calendar__cell{
    border: 0 solid black;
    text-align: center;
    padding: 12px 5px;
    margin: 0;
    background-color: white;
    font-size: 20px;
}

.calendar__weekday-cell{
    text-align: center;
    font-size: 20px;
}

.calendar__cell.current-day{
    background-color: red;
    color: white;
    border-radius: 50%;
}

.calendar__cell:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.calendar__cell.selected{
    background-color: rgba(0, 255, 6, 0.5);
}

.calendar__buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar__button{
    background-color: white;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 20px;
}