@import '../../App';

.calendar__cell{
  font-family: 'Montserrat', sans-serif;
  height: 35px;
  width: 35px;

  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
  //border-radius: 50%;

  border: 0 solid black;
  text-align: center;
  margin: 2px 0;
  background-color: white;
  font-size: 20px;
  transition: 1s;

  &:hover {
    transition: none;
    background-color: rgba(128, 128, 128, 0.15);
  }

  &.current {
    color: $main-color;
    border: 1px solid $main-color;
    padding: 0;
    //border-radius: 50%;
  }

  &.selected{
    background: $main-back-liner-color;
    color: white;
    animation: flip 0.7s ease 1;
    //border-radius: 50%;
  }

  @keyframes flip {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
      background: rgba(110, 110, 110, 0.3);
    }
    100% {
      transform: scaleX(1);
    }
  }

  &.disabled {
    color: rgba(110, 110, 110, 0.6);
  }

  &.haveTasks {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      left: 15px;
      bottom: 2px;

      height: 2px;
      width: 2px;
      border: 1px solid $main-color;
      border-radius: 50%;
      background: $main-color;
    }
  }
}

.calendar__weekday-cell{
  text-align: center;
  font-size: 20px;
}